<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="cache-control" content="no-cache" />
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <title>HR Helpdesk</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/ionicons.min.css" rel="stylesheet">
	<link href="css/font-awesome.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
<style>
.preLoader {position: fixed;top: 0; left: 0;width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.95); display: flex; justify-content: center;align-items: center; z-index: 99;}
.preLoader span {max-width: 160px; display: inline-block;width:160px;}
.preLoader span img {width: 100%; height: auto; vertical-align: top;}
</style>
</head>
<body>
<span id="textToSpeechBtn" class="invisibleDiv"></span>
<div class="preLoader">
	<span><img src="images/logo.svg"></span>
</div>
<span class="pagBg"></span>
<div class="wrapper">
<div class="header">
	<div class="container-fluid">
		<a href="javascript:;" class="hLogo"><img src="images/logo.svg"></a>
		<div class="widget">
			<div class="time_widget">
				<div id="time"></div>
				<p>Good Afternoon, </span>John</span>!</p>
			</div>
			<div class="weather_widget"> <i class="icon ion-android-sunny"></i> <span id='temperature'></span>
				<p class="currLoc">Houston</p>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"> </div>
<div class="pgContent pgBotContent">
	<div class="container-fluid">
		<div class="topFeeds">
			<span class="btnFeeds"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
			<div class="hScrollerDiv">
				<div class="hScrollerDivContent feedsList" id="feedsList">
					
					
				</div>
			</div>
		</div>
		<!--top feed ends-->
		<div class="botContainer">
			<div class="botHeader">
				<span class="botImg"><img src="images/chatlogo.png"></span> Ask Buddy, your Virtual Assistant
				<span class="iconVoice"><p>Sound <i>On</i></p><img src="images/voiceIcon.svg"></span>
			</div>

			<div class="botContent">
				<div class="chatContent" id="chatContent">
				<!--<p>{{ url_for('static', filename='images/chatlogo.png') }}</p>-->
					<!-- <div class="chatMsg botMsg">
						<span class="botImg"><img src="images/chatlogo.png"></span>
						<div class="text">Hey Sunita! Check out what's trending today!</div>
					</div> -->
					<!--normal text ends-->
					<!-- <div class="chatMsg botReply">
						<div class="replyContent">
							<div class="box">
								<h6>2 hours ago</h6>
								<img src="images/imgPost1.jpg">
								<div class="postText">BASF and NMMC collaborate on safe water and sanitation project in Navi Mumbai</div>
							</div>
							<div class="box">
								<h6>2 hours ago</h6>
								<img src="images/imgPost1.jpg">
								<div class="postText">BASF and NMMC collaborate on safe water and sanitation project in Navi Mumbai</div>
							</div>
							<div class="box">
								<h6>2 hours ago</h6>
								<img src="images/imgPost1.jpg">
								<div class="postText">BASF and NMMC collaborate on safe water and sanitation project in Navi Mumbai</div>
							</div>
							<div class="box">
								<h6>2 hours ago</h6>
								<img src="images/imgPost1.jpg">
								<div class="postText">BASF and NMMC collaborate on safe water and sanitation project in Navi Mumbai</div>
							</div>
							<div class="box">
								<h6>2 hours ago</h6>
								<img src="images/imgPost1.jpg">
								<div class="postText">BASF and NMMC collaborate on safe water and sanitation project in Navi Mumbai</div>
							</div>
							<div class="box">
								<h6>2 hours ago</h6>
								<img src="images/imgPost1.jpg">
								<div class="postText">BASF and NMMC collaborate on safe water and sanitation project in Navi Mumbai</div>
							</div>
							<div class="box">
								<h6>2 hours ago</h6>
								<img src="images/imgPost1.jpg">
								<div class="postText">BASF and NMMC collaborate on safe water and sanitation project in Navi Mumbai</div>
							</div>
							<div class="box">
								<h6>2 hours ago</h6>
								<img src="images/imgPost1.jpg">
								<div class="postText">BASF and NMMC collaborate on safe water and sanitation project in Navi Mumbai</div>
							</div>
						</div>
					</div> -->
					<!--post section ends-->
					<!-- <div class="chatMsg botSuggestions">
						<span class="botImg"><img src="images/chatlogo.png"></span>
						<div class="text">
							<div class="suggestionsList">
								<span>Home nursing care</span>
								<span>Admission in a care facility</span>
								<span>Meal preparation</span>
								<span>Round-the-clock care</span>
								<span>Housekeeping</span>
								<span>Others not listed here...</span>
							</div>
						</div>
					</div> -->
					<!--bot suggestions ends-->
					<!-- <div class="chatMsg userMsg">
						<div class="text">Can you show me something on agriculture?</div>
					</div> -->
					<!--user text msg ends-->
				</div>
				<!--chat content ends-->
			</div>
			<!--bot content ends-->
					<div class="botFooter">
				<div class="suggestions">
					<h4>I guess you may want to view</h4>
					<div class="hScrollerDiv">
						<div class="hScrollerDivContent suggestionsList">
							<span>What's Trending?</span>
							<span>Chairman's Desk</span>
							<span>You@BASF</span>
							<span>HR Corner</span>
							<span>We Care</span>
							<span>Contest</span>
							<a href="javascript:void(0);" data-toggle="modal" data-target="#contestModal">Selfie Contest</a>
							<!--<a href="/rmail">Share Stories</a>-->
							<a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">Share Stories</a>
						</div>
					</div>
				</div>
				
				<div class="enterChat">
					<input type="text" class="form-control chatInput" name="chatInput" id="chatInput" autofocus placeholder="Say something..."  />
					<span class="btnEnterUserChat"><i class="icon ion-android-send" aria-hidden="true"></i></span>
				</div>
			</div>
			<!--botfooter ends-->
			<div class="postOverlay" id="postOverlay">
				<a href="javascript:;" class="btnClose btnbackToChat"><i class="icon ion-ios-close-empty"></i></a>
				<div class="postOverlayContent">
					<div class="postOverlayHeader">
						<h3></h3>
						<h6>
							<span>ago</span>
							<span></span>
						</h6>
					</div>
					
					<div class="postBanner oPostBanner"><img src="{{image}}"></div>
					<div class="postImg oPostImg" style="background-image:url('{{image}}');"></div>
					<div class="postOverlayText"></div>
					<div class="videoContainer">
						<video id="myVideo">
							<source src="" type="video/mp4">
						  Your browser does not support the video tag.
						</video>
					</div>
					<div class="overlayPostFooter">
						<div class="actionBtns">
									<div class="socialInfo">
						<span class="iconLike"><i class="fa fa-heart" aria-hidden="true"></i> 05</span>
						<span class="iconComment"><i class="fa fa-commenting" aria-hidden="true"></i> 02</span>
					</div>
					<button type="button" class="btn btnFollow"></button>
									</div>
									<div class="socialShare">
										<a href="javascript:;"><img src="images/iconFb.svg"></a>
										<a href="javascript:;"><img src="images/iconwitter.svg"></a>
										<a href="javascript:;"><img src="images/iconLinkedin.svg"></a>
									</div>
					</div>
				</div>
			</div>
			<!--bot news suggestions overlay ends-->
				
		</div>
	</div>
</div>
</div>
</div>
<!-- Modal -->
				
					

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/modernizr-3.6.0.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/mustache.min.js"></script>
<script src="js/app.js"></script>
<script>
$(window).on("load",function(){
    $(".preLoader").delay(2000).fadeOut(function(){
        $("body").addClass("loaded");
    });
});
</script>
<script type="text/template" id="temp_usermsg">
	<div class="chatMsg userMsg">
		<div class="text">{{textMsg}}</div>
	</div>
</script>
<!--usernormal text ends-->
<script type="text/template" id="temp_botText">
	<div class="chatMsg botMsg">
		<span class="botImg"><img src="images/chatlogo.png"></span>
		<div class="text">{{textMsg}}</div>
	</div>
</script>
<!--bot normal text ends-->
<script type="text/template" id="temp_newsSuggestions">
	<div class="chatMsg botReply">
		<div class="replyContent">
			{{#data}}
			<div class="box">
				<input type="hidden" id="postId" value="{{id}}">
				<input type="hidden" id="postCreated_date" value="{{created_date}}">
				<input type="hidden" id="mailer_image" value="{{mailer_image}}">
				<input type="hidden" id="videoUrl" value="{{video}}">
				<input type="hidden" id="fImg" value="{{image}}">
				
				<div class="invisibleDiv" id="postBody">{{{body}}}</div>
				<div class="invisibleDiv" id="postTitle">{{title}}</div>
				<div class="postImg" style="background-image:url('{{image}}');"><h6>{{created_ago}}</h6></div>
				<div class="postText">{{title}}</div>
				<div class="boxFooter">
					<div class="socialInfo">
						<span><i class="fa fa-heart" aria-hidden="true"></i> 05</span>
						<span><i class="fa fa-commenting" aria-hidden="true"></i> 02</span>
					</div>
					<button type="button" class="btn btnFollow"></button>
				</div>
			</div>
			{{/data}}
		</div>
	</div>
</script>
<!--bot news suggestions ends-->
<script type="text/template" id="temp_newsInternalSuggestions">
	<div class="chatMsg botReply">
		<div class="replyContent">
			{{#data}}
			{{#patterns}}
			<div class="box">
				<div class="postText">{{pattern_name}}</div>
			</div>
			{{/patterns}}
			{{/data}}
		</div>
	</div>
</script>
<!--bot news internal suggestions ends-->
<script type="text/template" id="temp_eventsSuggestions">
	<div class="chatMsg botReply">
		<div class="replyContent">
			{{#data}}
			<div class="box eventBox">
				<input type="hidden" id="eventId" value="{{id}}">
				<div class="postImg" style="background-image:url('images/events6.jpg');"></div>
				
				<div class="eventText">
					<h4>{{title}}</h4>
					<h5>{{location}}</h5>
					<p><span>From: {{start_time}}, {{start_date}}</span></p>
					<p><span>To: {{end_time}}, {{end_date}}</span></p>
				</div>
				<div class="boxFooter">
					<div class="socialInfo">
						<span class="iconLike"><i class="fa fa-heart" aria-hidden="true"></i> <span>05</span></span>
						<span class="iconComment"><i class="fa fa-commenting" aria-hidden="true"></i> <span>02</span></span>
					</div>
					<button type="button" class="btn btnFollow"></button>
				</div>
				
			</div>
			{{/data}}
		</div>
	</div>
</script>
<!--bot events suggestions ends-->
<script type="text/template" id="temp_nbContent">
 <div class="chatMsg botSuggestions">
	<div class="text">
		<div class="suggestionsList">
			<span style="padding-right:3px; padding-top: 3px; display:block;"><img class="manImg" src="images/1.jpg"></img></span>
			<span class="subCategory">maternity</span>
			<span class="subCategory">advance</span>
			<span class="subCategory">privilege</span>
			<span class="subCategory">notice period</span>
			<span>carry forward</span>
			<span>leave credit for joining</span>
			<span>leave credit</span>
			<span>leave types</span>
			<span>How to apply for leave</span>
		</div>
	</div>
</div>
 </script>
<!--script specific to home page starts-->
<script type="text/template" id="temp_feedSuggestions">
</script>
<!--feed suggestion ends-->
<script type="text/javascript">
$(window).on("load",function() {
	setTimeout(function(){
		showWelcomeBotMsg();
	},2500);
});
$(document).ready(function(){
	var username = localStorage.getItem("firstname");
    if(username != null || username != "") {
    	$("h2 span").html(username);
    	$(".time_widget p span").html(username);
    }
});
</script>
</body>
</html>