<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
    <title>Kaya Clinic - Humanised Experience</title>
   <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/fonts.css' %}" rel="stylesheet">
	<link href="{% static 'css/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<!--<script src="js/jquery-3.3.1.min.js"></script>-->
	<!--<script src="js/jquery-ui.js"></script>-->
	<!--<script src="js/bootstrap.min.js"></script>-->
	<!--<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>-->
	<!--<script src="js/mustache.min.js"></script>-->


	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<!--<script src="{% static 'js/modernizr-3.6.0.min.js' %}"></script>-->
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/mustache.min.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

</head>
<body>
<div class="preLoader">
	<!--{% static 'images/logo.svg' %}-->
	<span><img src= "{% static 'images/clogo.png' %}"></span>
</div>
<span class="pagBg"></span>
<div class="wrapper">
<div class="header">
	<a href="javascript:;" class="cLogo"><img src= "{% static 'images/clogo.png' %}"></a>
	<ul class="headerRightSec">
		<li class="time_widget">
			<span>21:01</span>
			<p>Good Afternoon!</p>
		</li>
		<li class="weather_widget"> 
			<span class="ion-icon">48°F</span>
			<p class="currLoc">Mumbai</p>
		</li>
		<li class="notificationInfo">
			<a href="javascript:void(0);"></a>
		</li>
		<li>
			<a href="javascript:void(0);">S D</a>
		</li>
	</ul>
</div>
<!--header ends here-->
<div class="pgContent pgBotContent">
	<div class="container-fluid">
		<div class="botContainer">
			<!-- <div class="botHeader">
				<span class="botImg"><img src="/static/images/chatlogo.png"></span> Ask Buddy, your Intranet Assistant
				<span class="iconVoice"><img src="/static/images/voiceIcon.svg"></span>
			</div> -->
			
			<div class="botContent">
				<div class="chatContent" id="chatContent">
					<!-- <div class="chatMsg botMsg">
						<div class="chatMsgContainer">
							<div class="chatMsgDiv">
								<span class="botImg">
									<img src="/static/images/botIcon2.gif">
								</span>
								<div class="text">
									<p>Please enter the details to edit your upcoming appointment.</p>
									<div class="chatForm">
										<form>
											<div class="row">
												<div class="col-sm-6">
													<div class="form-group">
														<label for="date">Date</label>
														<div class="inputIconDiv inputDatepickerDiv">
															<input type="text" class="form-control" id="date" name="date" placeholder="Enter Date">
														</div>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group">
														<label for="time">Time</label>
														<div class="inputIconDiv inputTimepickerDiv">
															<input type="text" class="form-control" id="time" name="time" placeholder="Enter Time">
														</div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="location">Location</label>
												<div class="inputIconDiv inputLocpickerDiv">
													<input type="text" class="form-control" id="location" name="location" placeholder="Enter Location">
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<p class="pTime">20:57</p>
						</div>
					</div> -->
					<!--edit appointment form-->
					<!-- <div class="chatMsg botMsg">
						<div class="chatMsgContainer">
							<div class="chatMsgDiv">
								<span class="botImg">
									<img src="images/botIcon2.gif">
								</span>
								<div class="text">
									<p>Your ongoing therapy 'Insta Skin Brilliance' has
										<span class="divStars">
											<i class="active"></i>
											<i class="active"></i>
											<i class="active"></i>
											<i class="active"></i>
											<i></i>
										</span>
										Stars
									</p>
									<div class="suggestions">
										<div class="suggestionsList rateXpBtnsDiv">
											<span>Ambience</span>
											<span>Amenities</span>
											<span>Service</span>
										</div>
									</div>
								</div>
							</div>
							<p class="pTime">20:57</p>
						</div>
					</div> -->
					<!--show rating-->
					<!-- <div class="chatMsg botMsg">
						<div class="chatMsgContainer">
							<div class="chatMsgDiv">
								<span class="botImg">
									<img src="images/botIcon2.gif">
								</span>
								<div class="text">
									<p>Rate your experience</p>
									<div class="divStars">
										<i></i>
										<i></i>
										<i></i>
										<i></i>
										<i></i>
									</div>
								</div>
							</div>
							<p class="pTime">20:57</p>
						</div>
					</div> -->
					<!--ask rating-->
					<!-- <div class="chatMsg botMsg chatMsgProduct">
						<div class="chatMsgContainer">
							<div class="chatMsgDiv">
								<span class="botImg">
									<img src="images/botIcon2.gif">
								</span>
								<div class="text">
									<div class="pContent">
										<div class="pImg">
											<img src="images/img_product1.png">
											<button type="button" class="btn btnPrimary">Add to Cart</button>
										</div>
										<div class="pText">
											<h3>Daily Use Sunscreen SPF 30</h3>
											<p>Sun Defense</p>
											<p>Skin Type: Combination & Oily</p>
											<p>75ML</p>
											<h4>Your Price: <span>Rs. 770.00/-</span></h4>
											<p>Everyday use broad spectrum Sunscreen that helps fight effects of UVA and UVB rays, along with Niacinamide for brighter skin tone.</p>
										</div>
									</div>
									<div class="pContentMore">
										<h5>Product Description</h5>
										<p>A broad-spectrum sunscreen that peotects your skin from harmful UVA-UVB rays. PA++++ shield  and Ultra Bootstar rating of 5 ensures highest UVA protection. Niacinamide, potent whitening active removes tan & lightens skin. Lightweight, non-greasy formula and PABA free.</p>
										<h5>Efficacy</h5>
										<p>Shields against UVA-UVB rays.<br> PA++++ shield and Ultra Bootstar rating of 5 ensures highest protection.<br> Removes tan and lightens skin</p>
										<h5>Ingredient Science</h5>
										<p>Shields against UVA-UVB rays.<br> PA++++ shield and Ultra Bootstar rating of 5 ensures highest protection.<br> This PABA-free sunscreen is potent with broad spectrum sunscreen actives which protect the skin from harmful UVA & UVB rays. Niacinamide, potent whitening active, removes tan and lightens skin.</p>
									</div>
									
								</div>
							</div>
							<p class="pTime">20:57</p>
						</div>
					</div> -->
					<!--product info1 ends-->
					<!-- <div class="chatMsg botMsg chatMsgProduct" >
						<div class="chatMsgContainer">
							<div class="chatMsgDiv">
								<span class="botImg">
									<img src="images/botIcon2.gif">
								</span>
								<div class="text">
									<div class="pContent">
										<div class="pImg">
											<img src="images/img_product2.png">
											<button type="button" class="btn btnPrimary">Avail</button>
										</div>
										<div class="pText">
											<h3>Kaya Skin Clinic Acne-Free with Aqua Therapy Review</h3>
											<p>Sessions Required: 01</p>
											<p>Skin Type: Acne Prone</p>
											<p>Therapy Cost: Rs. 5000.00/-</p>
											<h4>Your Price: <span>Rs. 4000.00/-</span></h4>
											<p>Add <a href="javascript:;">Smiley balance</a> and get Rs. 1500.00/- off on the total therapy cost.</p>
										</div>
									</div>
									<div class="pContentMore">
										<h5>Kaya Skin Clinic Acne-Free with Aqua Therapy Review</h5>
										<p>Recently, Acne Mantra got a chance to try out the Acne-Free with Aqua Therapy at Kaya Skin Clinic. What is Acne-Free with Aqua Therapy? This service is a water based deep skin acne solution. It uses a cool jet of air and saline water which penetrates deep into the acne prone skin to cleanse, exfoliate and hydrate effectively.</p>
										
										<p>It helps your skin get purified from within so that the root cause of acne is targeted, and then treats it with a high efficacy peel, followed by an anti-acne mask that works effectively to reduce the chances of further occurrence of acne, giving you a clear, oil free, fresh skin.</p>
									</div>
					
								</div>
							</div>
							<p class="pTime">20:57</p>
						</div>
					</div> -->
					<!--product info2 ends-->
					<!-- <div class="chatMsg botMsg">
						<div class="chatMsgContainer">
							<div class="chatMsgDiv">
								<span class="botImg">
									<img src="images/botIcon2.gif">
								</span>
								<div class="text">
									<p>Your Kaya Balance Loyalty Program</p>
									<h4 class="giftCardChat">Gold Card Balance: <span>Rs. 30,000/-</span></h4>
									<div class="suggestions">
										<div class="suggestionsList">
											<span>Check Membership Benefits</span>
											<span>Avail the Balance</span>
										</div>
									</div>
								</div>
							</div>
							<p class="pTime">20:57</p>
						</div>
					</div> -->
					<!--ask rating-->
					<!-- <div class="chatMsg botMsg botMsgHCard chatMsgHasSuggestions">
						<div class="chatMsgContainer">
							<div class="chatMsgDiv">
								<span class="botImg">
									<img src="images/botIcon2.gif">
								</span>
								<div class="text">
									<div class="ksImg w50">
										<img src="images/kaya_smiley.png">
									</div>
									<div class="ksText w50">
										<p>Introducing Kaya Smiles, an exclusive loyalty program, designed to make your journey to beautiful skin as rewarding as possible.</p>
										<p>There are <strong>3 tiers</strong> in this program - <strong>Platinum, Gold Elite, Gold.</strong> Platinum is the highest tier in the program. The eligibility for each tier depends on the amount of money spent at Kaya over a 12 month period.</p>
									</div>
								</div>
							</div>
							<div class="suggestions">
								<div class="suggestionsList">
									<span>About Kaya Smiles</span>
									<span>Smile Calculator</span>
									<span>Loyality Offers</span>
									<span>Exclusive Offers</span>
								</div>
								<p class="pTime">20:57</p>
							</div>
						</div>
					</div> -->
					<!--kaya smiley-->
					<!-- <div class="chatMsg botMsg chatProductCards">
						<div class="chatMsgContainer">
							<div class="chatMsgDiv">
								<span class="botImg">
									<img src="images/botIcon2.gif">
								</span>
								<div class="text">
									<div class="pCard">
										<div class="pCardHeading">
											<h5>Intense Clarity System</h5>
											<h6>Combination, Dry & Normal Skin</h6>
										</div>
										<div class="pCardImg">
										</div>
										<p class="pPrice">your price <span>₹1940.00</span></p>
										<div class="pCardFooter">
											<button type="button" class="btn btnPrimaryOutline">Buy</button>
											<button type="button" class="btn btnPrimaryOutline">Add to Cart</button>
										</div>
									</div>
									<div class="pCard">
										<div class="pCardHeading">
											<h5>Intense Clarity System</h5>
											<h6>Combination, Dry & Normal Skin</h6>
										</div>
										<div class="pCardImg">
										</div>
										<p class="pPrice">your price <span>₹1940.00</span></p>
										<div class="pCardFooter">
											<button type="button" class="btn btnPrimaryOutline">Buy</button>
											<button type="button" class="btn btnPrimaryOutline">Add to Cart</button>
										</div>
									</div>
								</div>
							</div>
							<p class="pTime">20:57</p>
						</div>
					</div> -->
					<!--product cards-->
					<!-- <div class="chatMsg botMsg botMsgHCard chatMsgHasSuggestions">
						<div class="chatMsgContainer">
							<div class="chatMsgDiv">
								<span class="botImg">
									<img src="images/botIcon2.gif">
								</span>
								<div class="text">
									<div class="ksImg">
										<img src="images/gift.png">
									</div>
									<div class="ksText">
										<h5>REFER A FRIEND</h5>
										<p>Enjoy <span class="tHighLight">500</span> smile balance when a friend shops and we'll give them <span class="tHighLight">20%</span> off their order.</p>
									</div>
								</div>
							</div>
							<p class="pTime">20:57</p>
						</div>
					</div> -->
					<!--chat products Description-->
				</div>
				<!--chat content ends-->
			</div>
			<!--bot content ends-->
			<div class="botFooter">
				<div class="suggestions">
					<div class="suggestionsList">
						<span>Kaya Smile Balance</span>
						<span>Refer someone</span>
						<span>Prescribed medicines</span>
					</div>
				</div>
				<div class="enterChat">
					<input type="text" class="form-control chatInput" name="chatInput" id="chatInput" placeholder="Tell me how can I help you..."/>
					<span class="btnEnterUserChat"></span>
				</div>
			</div>
			<!--bot footer ends-->
			
		</div>
		<!--bot container-->
		<div class="rightFeeds">
			<span class="btnFeeds">
				<!-- <i class="fa fa-angle-double-right" aria-hidden="true"></i> -->
			</span>
			<div class="feedsList" id="feedsList">
				<div class="box feedBox feedBox1" data-attr="ongoingTreatment">
					<div class="feedBoxContent">
						<div class="feedBoxFront">
							<div class="feedBoxFrontContent">
								<h4>Your Ongoing Treatment</h4>
								<h5>Insta Skin Brilliance</h5>
							</div>
						</div>
						<div class="feedBoxBack">
							<div class="feedBoxBackHeader">
								<h4>Your Ongoing Treatment</h4>
								<h5>Insta Skin Brilliance</h5>
							</div>
							<div class="feedBoxBackContent">
								<div class="sessionChart">
									<div class="cLine cline1">
										<canvas id="cLine1" width="100" height="100">
										</canvas>
									</div>
									<div class="cLine cline2">
											<canvas id="cLine2" width="100" height="100">
											</canvas>
										</div>
									<p class="tgText"><span>5</span> /8</p>
									<span class="chartLabel chartLabel1">Consumed<br> sessions</span>
									<span class="chartLabel chartLabel2">Total<br> sessions</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="box feedBox feedBox2" data-attr="productDetails">
					<div class="feedBoxContent">
						<div class="feedBoxFront">
							<div class="feedBoxFrontContent">
								<h4>Product Best Suited for your Skin</h4>
								<h5>Sun Defence</h5>
							</div>
						</div>
						<div class="feedBoxBack">
							<div class="feedBoxBackHeader">
								<h4>Product Best Suited for your Skin</h4>
								<h5>Sun Defence</h5>
							</div>
							<div class="feedBoxBackContent">
								<h6>Product Ratings</h6>
								<div class="ratingAnalysis">
									<p><span></span> 50</p>
									<p><span></span> 03</p>
									<p><span></span> 01</p>
									<p><span></span> 00</p>
									<p><span></span> 00</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="box feedBox feedBox3" data-attr="offerRecommendations">
					<div class="feedBoxContent">
						<div class="feedBoxFront">
							<div class="feedBoxFrontContent">
								<h4>Your Dermatologist Recommends</h4>
								<h5>Aqua Therapy</h5>
							</div>
						</div>
						<div class="feedBoxBack">
							<div class="feedBoxBackHeader">
								<h4>Your Dermatologist Recommends</h4>
								<h5>Aqua Therapy</h5>
							</div>
							<div class="feedBoxBackContent">
								<div class="giftCard">
									<h5>Gift Card</h5>
									<h6><span>20%</span> OFF</h6>
									<p>For being our regular customer, you have been rewarded to avail this therapy.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--top feed ends-->
	</div>
</div>
<!--page content ends here-->
</div>


<script type="text/template" id="temp_usermsg">
	<div class="chatMsg userMsg">
		<div class="chatMsgContainer">
			<div class="chatMsgDiv">
				<div class="text">{% templatetag openvariable %} textMsg {% templatetag closevariable %}</div>
			</div>
			<p class="pTime">20:57</p>
		</div>
	</div>
</script>
<!--usernormal text ends-->

<script type="text/template" id="temp_botText">
	<div class="chatMsg botMsg">
		<div class="chatMsgContainer">
			<div class="chatMsgDiv">
				<span class="botImg">
					<img src="/static/images/botIcon2.gif">
				</span>
				<div class="text">{% templatetag openvariable %}{ textMsg }{% templatetag closevariable %}</div>
			</div>
			<p class="pTime">20:57</p>
		</div>
	</div>
</script>
<!--bot normal text ends-->
<script type="text/template" id="temp_botTextActions">
	<div class="chatMsg botMsg">
		<div class="chatMsgContainer">
			<div class="chatMsgDiv">
				<span class="botImg">
					<img src="/static/images/botIcon2.gif">
				</span>
				<div class="text">{% templatetag openvariable %}{ textMsg }{% templatetag closevariable %}</div>
			</div>
			<p class="pTime">20:57</p>
			<div class="cActionBtns">
				<span class="cBtnEdit"></span>
				<span class="cBtnConfirm"></span>
			</div>
		</div>
	</div>
</script>
<!--bot msg with action btns ends-->


<script type="text/template" id="temp_feedSuggestions">
{% templatetag openvariable %} # data {% templatetag closevariable %}
<div class="box feedBox">
	<div class="feedBoxFront" style="display:none;">
		<div class="feedBoxFrontContent">
			<h4>{% templatetag openvariable %} title {% templatetag closevariable %}</h4>
			<h5>{% templatetag openvariable %} description {% templatetag closevariable %}</h5>
			<!--<h5>{{description}}</h5>-->
		</div>
	</div>
	<div class="feedBoxBack">
		<div class="feedBoxBackContent">
			<h4>{% templatetag openvariable %} title {% templatetag closevariable %}</h4>
			<h5>{% templatetag openvariable %} description {% templatetag closevariable %}</h5>
		</div>
	</div>
</div>
{% templatetag openvariable %} /data {% templatetag closevariable %}
</script>
<!--feed suggestion ends-->
<script type="text/template" id="temp_editAppointmentDetails">
<div class="chatMsg botMsg">
	<div class="chatMsgContainer">
		<div class="chatMsgDiv">
			<span class="botImg">
				<img src="/static/images/botIcon2.gif">
			</span>
			<div class="text">
				<p>Please enter the details to edit your upcoming appointment.</p>
				<div class="chatForm">
					<form>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="date">Date</label>
									<div class="inputIconDiv inputDatepickerDiv">
										<input type="text" class="form-control" id="date" name="date" placeholder="Enter Date">
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="time">Time</label>
									<div class="inputIconDiv inputTimepickerDiv">
										<input type="text" class="form-control" id="time" name="time" placeholder="Enter Time">
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="location">Location</label>
							<div class="inputIconDiv inputLocpickerDiv">
								<input type="text" class="form-control" id="location" name="location" placeholder="Enter Location">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<p class="pTime">20:57</p>
	</div>
</div>
</script>
<!--edit appointment template ends-->
<script type="text/template" id="temp_ongoingTreatment">
<div class="chatMsg botMsg">
	<div class="chatMsgContainer">
		<div class="chatMsgDiv">
			<span class="botImg">
				<img src="/static/images/botIcon2.gif">
			</span>
			<div class="text">
				<p>Your ongoing therapy 'Insta Skin Brilliance' has
					<span class="divStars">
						<i class="active"></i>
						<i class="active"></i>
						<i class="active"></i>
						<i class="active"></i>
						<i></i>
					</span>
					Stars
				</p>
				<div class="suggestions">
					<div class="suggestionsList rateXpBtnsDiv">
						<span>Ambience</span>
						<span>Amenities</span>
						<span>Service</span>
					</div>
				</div>
			</div>
		</div>
		<p class="pTime">20:57</p>
	</div>
</div>
</script>
<!--show ongoingTreatment ends-->
<script type="text/template" id="temp_productDetails">
<div class="chatMsg botMsg chatMsgProduct">
	<div class="chatMsgContainer">
		<div class="chatMsgDiv">
			<span class="botImg">
				<img src="/static/images/botIcon2.gif">
			</span>
			<div class="text">
				<div class="pContent">
					<div class="pImg">
						<img src="/static/images/img_product1.png">
						<button type="button" class="btn btnPrimary">Add to Cart</button>
					</div>
					<div class="pText">
						<h3>Daily Use Sunscreen SPF 30</h3>
						<p>Sun Defense</p>
						<p>Skin Type: Combination & Oily</p>
						<p>75ML</p>
						<h4>Your Price: <span>Rs. 770.00/-</span></h4>
						<p>Everyday use broad spectrum Sunscreen that helps fight effects of UVA and UVB rays, along with Niacinamide for brighter skin tone.</p>
					</div>
				</div>
				<div class="pContentMore">
					<h5>Product Description</h5>
					<p>A broad-spectrum sunscreen that peotects your skin from harmful UVA-UVB rays. PA++++ shield  and Ultra Bootstar rating of 5 ensures highest UVA protection. Niacinamide, potent whitening active removes tan & lightens skin. Lightweight, non-greasy formula and PABA free.</p>
					<h5>Efficacy</h5>
					<p>Shields against UVA-UVB rays.<br> PA++++ shield and Ultra Bootstar rating of 5 ensures highest protection.<br> Removes tan and lightens skin</p>
					<h5>Ingredient Science</h5>
					<p>Shields against UVA-UVB rays.<br> PA++++ shield and Ultra Bootstar rating of 5 ensures highest protection.<br> This PABA-free sunscreen is potent with broad spectrum sunscreen actives which protect the skin from harmful UVA & UVB rays. Niacinamide, potent whitening active, removes tan and lightens skin.</p>
				</div>
				
			</div>
		</div>
		<p class="pTime">20:57</p>
	</div>
</div>			
</script>
<!--productDetails template ends-->
<script type="text/template" id="temp_offerRecommendations">
<div class="chatMsg botMsg chatMsgProduct" >
	<div class="chatMsgContainer">
		<div class="chatMsgDiv">
			<span class="botImg">
				<img src="/static/images/botIcon2.gif">
			</span>
			<div class="text">
				<div class="pContent">
					<div class="pImg">
						<img src="/static/images/img_product2.png">
						<button type="button" class="btn btnPrimary">Avail</button>
					</div>
					<div class="pText">
						<h3>Kaya Skin Clinic Acne-Free with Aqua Therapy Review</h3>
						<p>Sessions Required: 01</p>
						<p>Skin Type: Acne Prone</p>
						<p>Therapy Cost: Rs. 5000.00/-</p>
						<h4>Your Price: <span>Rs. 4000.00/-</span></h4>
						<p>Add <a href="javascript:;">Smiley balance</a> and get Rs. 1500.00/- off on the total therapy cost.</p>
					</div>
				</div>
				<div class="pContentMore">
					<h5>Kaya Skin Clinic Acne-Free with Aqua Therapy Review</h5>
					<p>Recently, Acne Mantra got a chance to try out the Acne-Free with Aqua Therapy at Kaya Skin Clinic. What is Acne-Free with Aqua Therapy? This service is a water based deep skin acne solution. It uses a cool jet of air and saline water which penetrates deep into the acne prone skin to cleanse, exfoliate and hydrate effectively.</p>
					
					<p>It helps your skin get purified from within so that the root cause of acne is targeted, and then treats it with a high efficacy peel, followed by an anti-acne mask that works effectively to reduce the chances of further occurrence of acne, giving you a clear, oil free, fresh skin.</p>
				</div>

			</div>
		</div>
		<p class="pTime">20:57</p>
	</div>
</div>				
</script>
<!--offerRecommendations template ends-->
<script type="text/template" id="temp_giveratings">
<div class="chatMsg botMsg">
	<div class="chatMsgContainer">
		<div class="chatMsgDiv">
			<span class="botImg">
				<img src="/static/images/botIcon2.gif">
			</span>
			<div class="text">
				<p>Rate your experience</p>
				<div class="divStars">
					<i></i>
					<i></i>
					<i></i>
					<i></i>
					<i></i>
				</div>
			</div>
		</div>
		<p class="pTime">20:57</p>
	</div>
</div> 
</script>
<!--show rating-->
<script type="text/template" id="temp_kayasmiles">
<div class="chatMsg botMsg botMsgHCard chatMsgHasSuggestions">
	<div class="chatMsgContainer">
		<div class="chatMsgDiv">
			<span class="botImg">
				<img src="/static/images/botIcon2.gif">
			</span>
			<div class="text">
				<div class="ksImg w50">
					<img src="/static/images/kaya_smiley.png">
				</div>
				<div class="ksText w50">
					{% templatetag openvariable %}{ textMsg }{% templatetag closevariable %}
					<!--<p>Introducing Kaya Smiles, an exclusive loyalty program, designed to make your journey to beautiful skin as rewarding as possible.</p>-->
					<!--<p>There are <strong>3 tiers</strong> in this program - <strong>Platinum, Gold Elite, Gold.</strong> Platinum is the highest tier in the program. The eligibility for each tier depends on the amount of money spent at Kaya over a 12 month period.</p>-->
				</div>
			</div>
		</div>
		<div class="suggestions">
			<div class="suggestionsList">
				<span>About Kaya Smiles</span>
				<span>Smile Calculator</span>
				<span>Loyality Offers</span>
				<span>Exclusive Offers</span>
			</div>
			<p class="pTime">20:57</p>
		</div>
	</div>
</div>
</script>
<!--show kayasmiles template ends-->
<script type="text/template" id="temp_chatinProducts">
<div class="chatMsg botMsg chatProductCards">
	<div class="chatMsgContainer">
		<div class="chatMsgDiv">
			<span class="botImg">
				<img src="/static/images/botIcon2.gif">
			</span>
			<div class="text">
				<div class="pCard">
					<div class="pCardHeading">
						<h5>Intense Clarity System</h5>
						<h6>Combination, Dry & Normal Skin</h6>
					</div>
					<div class="pCardImg">
					</div>
					<p class="pPrice">your price <span>₹1940.00</span></p>
					<div class="pCardFooter">
						<button type="button" class="btn btnPrimaryOutline">Buy</button>
						<button type="button" class="btn btnPrimaryOutline">Add to Cart</button>
					</div>
				</div>
				<div class="pCard">
					<div class="pCardHeading">
						<h5>Intense Clarity System</h5>
						<h6>Combination, Dry & Normal Skin</h6>
					</div>
					<div class="pCardImg">
					</div>
					<p class="pPrice">your price <span>₹1940.00</span></p>
					<div class="pCardFooter">
						<button type="button" class="btn btnPrimaryOutline">Buy</button>
						<button type="button" class="btn btnPrimaryOutline">Add to Cart</button>
					</div>
				</div>
			</div>
		</div>
		<p class="pTime">20:57</p>
	</div>
</div>
</script>
<!--show chatinProducts template ends-->
<script type="text/template" id="temp_chatProductDescription">
<div class="chatMsg botMsg botMsgHCard chatMsgHasSuggestions">
	<div class="chatMsgContainer">
		<div class="chatMsgDiv">
			<span class="botImg">
				<img src="/static/images/botIcon2.gif">
			</span>
			<div class="text">
				<div class="ksImg">
					<img src="/static/images/gift.png">
				</div>
				<div class="ksText">
					<h5>REFER A FRIEND</h5>
					<p>{% templatetag openvariable %}textMsg {% templatetag closevariable %}</p>

					<!--<p>Enjoy <span class="tHighLight">500</span> smile balance when a friend shops and we'll give them <span class="tHighLight">20%</span> off their order.</p>-->
				</div>
			</div>
		</div>
		<p class="pTime">20:57</p>
	</div>
</div>
</script>
<!--show chatProductDescription template ends-->
<script src="{% static 'js/app.js' %}"></script>


<!--script specific to home page starts-->
<script type="text/javascript">
var ww = $(window).width();
$(document).ready(function(){
	
	showWelcomeBotMsg();
	scrollChatDown();
	var options = {
		templateId: '#temp_feedSuggestions',
		msgContainerId: '#feedsList'
	};
	if(ww > 1100){
		$(".feedsList").mCustomScrollbar({
			//scrollInertia: 200,
		});
	}
	if(ww < 1100){
        sliderInit();
    }
	//showMustacheTemplateFeedsSuggestions(options);	
});
/**line2**/

if(ww > 1100){
var c2 = document.getElementById("cLine1");
var ctx2 = c2.getContext("2d");
ctx2.beginPath();
ctx2.arc(50, 50, 45, 0 * Math.PI, 2 * Math.PI);
ctx2.strokeStyle='#e3e6ea';
ctx2.lineWidth=6;
ctx2.stroke();
/**line2**/
var c2 = document.getElementById("cLine2");
var ctx2 = c2.getContext("2d");
ctx2.beginPath();
ctx2.arc(50, 50, 45, 0.5 * Math.PI, 1.75 * Math.PI);
ctx2.strokeStyle='#73e1c8';
ctx2.lineWidth=6;
ctx2.stroke();

}
else
{
var c2 = document.getElementById("cLine1");
var ctx2 = c2.getContext("2d");
ctx2.beginPath();
ctx2.arc(45, 45, 40, 0 * Math.PI, 2 * Math.PI);
ctx2.strokeStyle='#e3e6ea';
ctx2.lineWidth=6;
ctx2.stroke();
/**line2**/
var c2 = document.getElementById("cLine2");
var ctx2 = c2.getContext("2d");
ctx2.beginPath();
ctx2.arc(45, 45, 40, 0.5 * Math.PI, 1.75 * Math.PI);
ctx2.strokeStyle='#73e1c8';
ctx2.lineWidth=6;
ctx2.stroke();
}


</script>
</body>
</html>