<!DOCTYPE html>
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="cache-control" content="no-cache" />
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
    <title>Quinnox Conversational HR Helpdesk</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/fonts.css' %}" rel="stylesheet">
	<link href="{% static 'css/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<style>
		.preLoader {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.95);
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 99;
		}

		.preLoader span {
			max-width: 160px;
			display: inline-block;
			width: 160px;
		}

		.preLoader span img {
			width: 100%;
			height: auto;
			vertical-align: top;
		}
	</style>
</head>
<body>
	<span id="textToSpeechBtn" class="invisibleDiv"></span>
	<div class="preLoader">
		<span><img src="{% static 'images/logo.svg' %}"></span>
	</div>
	<span class="pagBg"></span>
	<div class="wrapper">
		<div class="header">
			<div class="container-fluid">
				<a href="javascript:;" class="hLogo"><img src="{% static 'images/logo.svg' %}"></a>
				<div class="uxInfo">
					<span class="time_widget"></span>
					<span class="greeting_widget"></span>
					<span class="weather_widget"> <i class="icon ion-android-sunny"></i> <span class="temperature"></span></span>
					<span class="place_widget"></span>
				</div>

				<div class="profileDiv">
					<a href="javascript:;"><span>MD</span></a>
					<div class="profileContent">
						<div class="pContentDiv">
							<p class="rShow"><a href="/logs">Logs</a></p>
							<p class="rShow"><a href="/jsonupdate">JSON Update</a></p>
							<p><a href="/helpdesk/logout">Sign Out</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"> </div>
		<div class="pgContent pgBotContent">
			<div class="container-fluid">
				<div class="topFeeds">
					<span class="btnFeeds"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
					<div class="hScrollerDiv">
						<div class="hScrollerDivContent feedsList" id="feedsList">


						</div>
					</div>
				</div>
				<!--top feed ends-->
				<div class="botContainer">
					<div class="botHeader">
						<span class="botImg"><img src="{% static 'images/chatlogo.png' %}"></span> Ask HrBuddy, your Virtual Assistant
						<span class="iconVoice iconVoiceBan"><p>Sound <i>On</i></p><img src="{% static 'images/voiceIcon.svg' %}"></span>
					</div>

					<div class="botContent">
						<div class="chatContent" id="chatContent"></div>
						<!--chat content ends-->
					</div>
					<!--bot content ends-->
					<div class="botFooter">
						<div class="suggestions">
							<h4>I guess you may want to view</h4>
							<div class="hScrollerDiv">
								<div class="hScrollerDivContent suggestionsList">
									<span dname="leave policy">Leave Policy</span>
									<span dname="address proof letters">Address Proof Letters</span>
									<span dname="mediclaim">Mediclaim</span>
									<span dname="exit policy">Exit Policy</span>
									<span dname="onboarding">Onboarding</span>
									<span dname="posh">Posh</span>
									<span dname="anti-bribery">Anti-Bribery</span>
									<span dname="learning and development">Learning and Development</span>
									<span dname="perfomance management system"">Performance Management System</span>
									<span dname="checkup services">Checkup Services</span>
									<span dname="group term insurance">Group Term Insurance</span>
									<!--<span>Ecards Related FAQs</span>-->
									<!--<span>Member enrollment Related FAQs</span>-->
									<!--<span>Family Floater Policy</span>-->
									<!--<span>Claims Related FAQs</span>-->
									<!--<a href="javascript:void(0);" data-toggle="modal" data-target="#contestModal">Selfie Contest</a>-->
									<!--<a href="/rmail">Share Stories</a>-->
									<!--<a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">Share Stories</a>-->
								</div>
							</div>
						</div>

						<div class="enterChat">
							<input type="text" class="form-control chatInput" name="chatInput" id="chatInput" autofocus placeholder="Say something..."
							/>
							<span class="btnEnterUserChat"><i class="icon ion-android-send" aria-hidden="true"></i></span>
						</div>
					</div>
					<!--botfooter ends-->
					<div class="postOverlay" id="postOverlay">
						<a href="javascript:;" class="btnClose btnbackToChat"><i class="icon ion-ios-close-empty"></i></a>
						<div class="postOverlayContent">
							<div class="postOverlayHeader">
								<div class="postImg"><img src=""></div>
								<h3></h3>
							</div>
							<div class="postOverlayText"></div>

							<div class="overlayPostFooter">
								<a href="javascript:void(0)" class="btn btnbackToChat btnBack">Back</a>
								<a href="javascript:void(0)" class="btn btnSecondary btnDownload" target="_blank" download="true">Download</a>
							</div>
						</div>
					</div>
					<!--bot news suggestions overlay ends-->

				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- Modal -->



	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/mustache.min.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
	<script>
		$(window).on("load", function () {
			$(".preLoader").delay(2000).fadeOut(function () {
				$("body").addClass("loaded");
			});
		});
	</script>
	<script type="text/template" id="temp_usermsg">
	<div class="chatMsg userMsg">
		<div class="text">{% templatetag openvariable %} textMsg {% templatetag closevariable %}
</div>

	</div>
</script>
<!--usernormal text ends-->
<script type="text/template" id="temp_botText">
	<div class="chatMsg botMsg">
		<span class="botImg"><img src="/static/images/chatlogo.png"></span>
		<div class="text">{% templatetag openvariable %}{ textMsg }{% templatetag closevariable %}</div>
		<!--<div class="text">
			<span class="loader"></span>
		</div>-->
	</div>
</script>
	<script type="text/template" id="temp_newsSuggestions">
	<div class="chatMsg botReply">
		<div class="replyContent rc2">
			{% templatetag openvariable %} # data {% templatetag closevariable %}
			<div class="box p0">
				<input type="hidden" id="postId" value="{% templatetag openvariable %}id{% templatetag closevariable %}">
				<div class="invisibleDiv" id="filePath">{% templatetag openvariable %}file{% templatetag closevariable %}</div>
				<div class="invisibleDiv" id="postBody">{% templatetag openvariable %}content{% templatetag closevariable %}</div>
				<div class="postImg"><img src="{% templatetag openvariable %}image{% templatetag closevariable %}"></div>
				<div class="postText">{% templatetag openvariable %} title {% templatetag closevariable %}</div>
				<div class="invisibleDiv" id="postTitle">{% templatetag openvariable %} title {% templatetag closevariable %}</div>
			</div>
			{% templatetag openvariable %} /data {% templatetag closevariable %}
		</div>
	</div>
</script>

<script type="text/template" id="temp_nbContent">
 <div class="chatMsg botSuggestions">
	<div class="text">
		<div class="suggestionsList">
			{% templatetag openvariable %}# data{% templatetag closevariable %}
			<span>{% templatetag openvariable %}name{% templatetag closevariable %}</span>
			{% templatetag openvariable %} /data{% templatetag closevariable %}
		</div>
	</div>
</div>
 </script>

<script type="text/template" id="temp_downloadBtns">
 <div class="chatMsg botSuggestions">
	<div class="text">
		<div class="suggestionsList">
			{% templatetag openvariable %}# data{% templatetag closevariable %}
			<div class="btnAttachment" data-src="{% templatetag openvariable %}data_link{% templatetag closevariable %}" data-type="{% templatetag openvariable %}type_data{% templatetag closevariable %}"><i>{% templatetag openvariable %}name{% templatetag closevariable %}</i><a href="{% templatetag openvariable %}data_link{% templatetag closevariable %}" download="true" target="_blank">Download</a></div>
			{% templatetag openvariable %} /data{% templatetag closevariable %}
		</div>
	</div>
</div>
</script>

<script type="text/template" id="temp_downloadBtnsHTML">
 <div class="chatMsg botSuggestions">
	<div class="text">
		<div class="suggestionsList">
			<div class="btnAttachment" data-src="{% static 'images/data/maternity_form.pdf' %}" data-type="pdf"><i>maternity_form.pdf</i><a href="{% static 'images/data/maternity_form.pdf' %}" download="true" target="_blank">Download</a></div>
		<div class="btnAttachment" data-src="{% static 'images/data/q2.jpg' %}" data-type="img"><i>calender2.pdf</i><a href="{% static 'images/data/q2.jpg' %}" download="true" target="_blank">Download</a></div>
		</div>
	</div>
</div>
</script>



	<script type="text/template" id="temp_botrating">
		<div class="chatMsg botMsg">
			<span class="botImg"><img src="{% static 'images/chatlogo.png' %}"></span>
			<div class="text">
				<fieldset class="rating">
					<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
					<input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
					<input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
					<input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
					<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
					<input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
					<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
					<input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
					<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
					<input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
				</fieldset>
			</div>

		</div>
	</script>
	<!--usernormal text ends-->
	<script type="text/template" id="temp_boxSuggestions">
	<div class="chatMsg botReply">
		<div class="replyContent rc1">
			{% templatetag openvariable %}# data{% templatetag closevariable %}
			<div class="box">
				<span class="hexagon"><img src="{% templatetag openvariable %}iconName{% templatetag closevariable %}"></span>
				<div class="postText">{% templatetag openvariable %}name{% templatetag closevariable %}</div>
			</div>
			{% templatetag openvariable %} /data{% templatetag closevariable %}

		</div>
	</div>
</script>
<!--bot news suggestions ends-->


	<script type="text/template" id="temp_nbContentTable">
		<div class="chatMsg botSuggestions">
			<div class="text br0">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Date</th>
							<th>National/Fixed Holidays</th>
							<th>Location</th>
						</tr>
					</thead>
			<tbody>
			{% templatetag openvariable %}# data{% templatetag closevariable %}
				<tr>
					<td>{% templatetag openvariable %}date{% templatetag closevariable %}</td>
					<td>{% templatetag openvariable %}holiday{% templatetag closevariable %}</td>
					<td>{% templatetag openvariable %}location{% templatetag closevariable %}</td>
				</tr>
			{% templatetag openvariable %} /data{% templatetag closevariable %}
			</tbody>
				</table>

			</div>
		</div>
	</script>
	<script type="text/template" id="temp_nbContentTable_Limit">
   <div class="chatMsg botSuggestions">
      <div class="text br0">
         <table class="table table-bordered">
            <thead>
               <tr>
                  <th>Role</th>
                  <th>Parental Sum Insured</th>

               </tr>
            </thead>
      <tbody>
      {% templatetag openvariable %}# data{% templatetag closevariable %}
         <tr>
            <td>{% templatetag openvariable %}role{% templatetag closevariable %}</td>
            <td>{% templatetag openvariable %}sum_insured{% templatetag closevariable %}</td>
         </tr>
      {% templatetag openvariable %} /data{% templatetag closevariable %}
      <tr><td colspan="2"><b>Family Floater:</b> Common Coverage for parents. No extra coverage.</td></tr>
      </tbody>
         </table>

      </div>
   </div>
</script>


	<script type="text/template" id="temp_nbContentTableICC">
		<div class="chatMsg botSuggestions">
			<div class="text br0">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>E Code</th>
							<th>Name & Designation</th>
							<th>Role</th>
							<th>Cell No</th>
							<th>VOIP No.</th>
							<th>Email Id</th>
						</tr>
					</thead>
			<tbody>
			{% templatetag openvariable %}# data{% templatetag closevariable %}
				<tr>
					<td>{% templatetag openvariable %}E Code{% templatetag closevariable %}</td>
					<td>{% templatetag openvariable %}Name & Designation{% templatetag closevariable %}</td>
					<td>{% templatetag openvariable %}Role{% templatetag closevariable %}</td>
					<td>{% templatetag openvariable %}cell_no{% templatetag closevariable %}</td>
					<td>{% templatetag openvariable %}voip_no{% templatetag closevariable %}</td>
					<td>{% templatetag openvariable %}Email Id{% templatetag closevariable %}</td>
				</tr>
			{% templatetag openvariable %} /data{% templatetag closevariable %}
			</tbody>
				</table>

			</div>
		</div>
	</script>

	<script type="text/template" id="temp_nbContentTableDCC">
		<div class="chatMsg botSuggestions">
			<div class="text br0">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Enterprise Name</th>
							<th>Branch</th>
							<th>City</th>
							<th>Address</th>
						</tr>
					</thead>
			<tbody>
			{% templatetag openvariable %}# data{% templatetag closevariable %}
				<tr>
					<td>{% templatetag openvariable %}enterprise_name{% templatetag closevariable %}</td>
					<td>{% templatetag openvariable %}branch{% templatetag closevariable %}</td>
					<td>{% templatetag openvariable %}city{% templatetag closevariable %}</td>
					<td>{% templatetag openvariable %}address{% templatetag closevariable %}</td>
				</tr>
			{% templatetag openvariable %} /data{% templatetag closevariable %}
			</tbody>
				</table>

			</div>
		</div>
	</script>
	<!--bot suggestion ends-->
	<script type="text/javascript">
		$(document).ready(function(){
			//idleUserState();
    		$("body").trigger("mousemove");
    		//$(".botContent").mCustomScrollbar();
		});
var idleTimer = null;
var idleState = false;
var idleWait = 20000;
var idleStateCounter = 0;
function idleUserState(){
$('*').bind('mousemove click mouseup mousedown keydown keypress keyup submit change mouseenter scroll resize dblclick', function () {
    clearTimeout(idleTimer);
//    if (idleState == true) {
//        alert("Welcome Back.");
//    }
    idleState = false;
    if(idleStateCounter < 3){
        idleTimer = setTimeout(function () {
        if(idleStateCounter == 0){
            var options = {templateId: '#temp_botText',msgContainerId: '#chatContent',textMsg: "how may i help you 1"};
            showMustacheTemplateText(options);
            textToSpeech(options.textMsg);
            scrollChatDown();
        }
        else if(idleStateCounter == 1){
            var options = {templateId: '#temp_botText',msgContainerId: '#chatContent',textMsg: "how may i help you 2"};
            showMustacheTemplateText(options);
            textToSpeech(options.textMsg);
            scrollChatDown();
        }
        else if(idleStateCounter == 2){
        	var options = {templateId: '#temp_botText',msgContainerId: '#chatContent',textMsg:'Have a nice day.<br> I hope you enjoyed talking to me, would like to rate the experience?',data:''};
			showMustacheTemplateText(options);
			textToSpeech(options.textMsg);

            var options = {templateId: '#temp_botrating',msgContainerId: '#chatContent',data:""};
			showMustacheBotSuggestions(options);
			scrollChatDown();
        }
        idleStateCounter++;
        idleState = true; }, idleWait);
    }
});
}


	</script>
</body>
</html>
