<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<title>QPE</title>
	<link rel="shortcut icon" href="../../static/images/favicon.ico" />
	<link rel="stylesheet" href="../../static/css/fonts.css">
	<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/css/ionicons.min.css">
	<link rel="stylesheet" href="../../static/css/style.css">
	<link rel="stylesheet" href="../../static/css/login.css">
</head>

<body class="chev" ng-cloak="">
	<div class="loginWrapper">
		<div class="loginContainerParent">
		<div class="loginContainer">
			<div class="loginHeader">
				<a href="javascript:;"><img src="../../static/images/logo1.png"></a>
			</div>
			<div class="loginContent">
				<h1>Sign In to <span>Virtual Assist</span></h1>
				<!-- <p>Welcome back. <br>Please sign in to you account.</p> -->
				<form name="loginForm" action="/helpdesk/logdata" method="POST">
					<div class="form-group fBox">
						<input type="text" class="form-control userName" id="userName" name="username" required>
						<label for="userName">User Name</label>
						<p class="errorText">Please enter a valid username.</p>
					</div>
					<div class="form-group fBox">
						<input type="password" class="form-control password" name="password" id="password" required>
						<label for="password">Password</label>
						<p class="errorText" id="wrongPassword">Please enter a valid password.</p>
					</div>
					<div class="form-group cbLink">
						<label class="lCheckbox">
							<input type="checkbox"> Remember me
							<span></span>
						</label>
						<a href="javascript:;">Forgot Password?</a>
					</div>
					<button class="btn btn-default btnPrimary btn_submit" type="submit">Sign In</button>
				</form>
				<!-- <h6>Contact Project Support at: <a href="mailto:team@quinnox.com">Team_QPE@quinnox.com</a></h6> -->
			</div>
			<div class="loginFooter">
				<p>	&#169; 2019 Quinnox, All Rights Reserved | Powered by <a href="javascript:;"><img src="../../static/images/qlogo.png"></a></p>
			</div>
		</div>
		</div>
	</div>

<script src="../../static/js/jquery-3.3.1.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>

<script>
var vFlag = 0;
$(".btn_submit").click(function () {
	var userName = $("#userName").val();
	var pass = $("#password").val();
	if (userName == "") {
		$("#userName").parent().addClass("vError");
		vFlag = 1;
	}
	else
	{
		$("#userName").parent().removeClass("vError");
		vFlag = 0;
	}
	if (pass == "") {
		$("#password").parent().addClass("vError");
		vFlag = 1;
	}
	else
	{
		$("#password").parent().removeClass("vError");
		vFlag = 0;
	}
	if(vFlag == 0){
		//alert("Success");
	}
	else
	{
		//alert("Issue");
	}
});

$(document).on("focus",".fBox .form-control",function() {
	$(this).parent().addClass("active");
});
$(document).on("blur",".fBox .form-control",function() {
	$(this).parent().removeClass("active");
});

</script>
</body>
</html>
