<html>

  <head>

  <script type="text/javascript" src="validate.js"></script>

  </head>

  <body>

  <form action="/helpdesk/add_user" name="StudentRegistration" method="POST" enctype="multipart/form-data">

<table cellpadding="2" width="20%" bgcolor="99FFFF" align="center"

  cellspacing="2">


<tr>

  <td colspan=2>

  <center><font size=4><b>Registration Form</b></font></center>

  </td>

  </tr>


<tr>

  <td>First Name</td>

  <td><input type=text name="firstname" id="textname" size="30"></td>

  </tr>


<tr>

  <td>Last Name</td>

  <td><input type="text" name="lastname" id="fathername"

  size="30"></td>

  </tr>

  <tr>

  <td>User Name</td>

  <td><input type="text" name="username" id="paddress" size="30"></td>

  </tr>
<tr>

  <td>Email ID</td>

  <td><input type="text" name="emailid" id="email"

  size="30"></td>

  </tr>


<tr>

  <td>Role</td>

  <td><select Name="Role">

  <option value="-1" selected>select..</option>

  <option value="Back Office">Back Office</option>

  <option value="Support">Support</option>



  </select></td>

  </tr>

  <tr>

  <td>Password</td>

  <td><input type="password" name="password" id="pincode" size="30"></td>


</tr>

  <tr>



  <td colspan="2"><input type="submit" value="Submit" /></td>
      <br>
      <td colspan="2"><a href="/helpdesk/login">Login</a> </td>

  </tr>

  </table>

  </form>

  </body>

  </html>



